.prompt {
    display: inline-block;

    padding: 1em;

    line-height: 1.5;

    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.required::before {
    color: red;
    content: "*";
}

.missing-field::before {
    color: red;
    content: "One or more of the required fields are missing\A";
    white-space: pre;
}
